.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 140px;
    background-color: rgb(3, 3, 3);
    color: rgb(248, 247, 247);
    width: 100%;
    z-index: 999;
    position: fixed;
    box-shadow: 0 5px 6px rgba(22, 21, 1, 0.747);

}
.logo{
    width: 40px;
    cursor: pointer;
    display: flex;
  
}

.nav{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 13px;
    padding: 0% 0%;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
}

.nav_line{
    border: 1px solid rgba(255, 255, 255, 0.308);
    padding: 5px 12px;
}

.nav_line:hover{
    background-color: rgba(255, 255, 255, 0.253);

}

.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-right input{
    border: none;
    display: flex;
    outline: 0.5px solid rgba(255, 255, 255, 0.452);
    padding: 4px 16px;
    background: transparent;
    border-radius: 30px;
    position: relative;
    color: white;
    margin-left: 15%;
    width: 180px;
}

.material-symbols-outlined{
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 2px;
    position: absolute;
    margin-left: 11%;
    color: rgb(214, 216, 216);

}

.navbar button{
    padding: 6px 40px;
    border-radius: 30px;
    border: 1px solid rgba(252, 243, 243, 0.479);
    background: transparent;
    cursor: pointer;
    color: white;
    display: flex;
}

.menu-icon{
    display: none;
}

.navbar button:hover{
    background-color: rgb(238, 231, 231);
    color: black;
}

/* date details*/

.calender{
    display: flex;
    align-items: center;
    justify-content: start;
}

.calender p{
    font-size: 12px;
}

.menu-icon{
    display: none;
    position: fixed;
    right: 5%;
}

.profile-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.profile-logout button{
    font-size: 12px;

}

.profile-pics{
    font-size: 21px;
    color: rgba(255, 255, 255, 0.685);

}


.logout-icon{
    font-size: 21px;
    cursor: pointer;
}

         /*........media querry ........*/

@media (max-width:1115px){
   .navbar{
    gap: 120px;
   }

   .navbar-right input{
    padding: 3px 4px;
    border: none;
    width: 140px;
    font-size: 12px;
}

.material-symbols-outlined{
    font-size: 10px;
    margin-left: 12%;
}

.navbar button{
    padding: 4px 15px;
    font-size: 10px;
}
}

@media (max-width:1068px){
   .navbar{
    gap: 80px;
   }
}

@media (max-width:1064px){
   .navbar{
    gap: 65px;
   }
}

@media (max-width:1034px){
   .navbar{
    gap: 55px;
   }
}

@media (max-width:1027px){
   .navbar{
    gap: 45px;
   }
}


@media (max-width:880px){

     .navbar{
    gap: 150px;
   }

   
.menu-icon{
    display: block;
}


   .nav{
    position: fixed;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 85, 1, 0.705);
    color: rgb(248, 246, 246);
    background-size: cover;
    width: 190px;
    height: 200vw;
    padding-top: 110%;
    transition: all 0.5s;
    backdrop-filter: blur(1px)
   }

   .hideMobileMenu{
    right: -200px;
   }

   .profile-logout {
    gap: 60px;
    margin-right: 15%;
   }


   .navbar-right input{
    padding: 3px 4px;
    border: none;
    width: 110px;
    font-size: 10px;
    margin-left: 5%;
}

   .logo{
    position: fixed;
    left: 10%;
    top: 3%;
    width: 30px;
   }

   


}

@media (max-width:873px){

     .navbar{
    gap: 80px;
   }
   

.material-symbols-outlined{
    font-size: 10px;
}

.navbar button{
    padding: 3px 10px;
    font-size: 10px;
}

.nav{
    padding-top: 115%;
}



}

@media (max-width:700px){

     .navbar{
    gap: 30px;
   }

   
.nav{
    padding-top: 119%;
}



   .profile-logout {
    gap: 80px;
    margin-left: 5%;
   }

   
.navbar button{
    margin-left: 9%;
}


}

@media (max-width:620px){
     .nav{
        height: 300vw;
        padding-top: 170%;
     }

}



@media (max-width:550px){

     .navbar{
    gap: 8px;

   }

   
   .profile-logout {
    gap: 50px;
    margin-left: 5%;
   }

   
   .navbar-right input{
    padding: 3px 4px;
    border: none;
    width: 80px;
    font-size: 10px;
    margin-left: 5%;
}



.material-symbols-outlined{
    font-size: 10px;
}

.navbar button{
    padding: 3px 10px;
    font-size: 10px;
}

.logo{
    width: 20px;
}


} 


@media (max-width:410px){
     .nav{
        height: 400vw;
        padding-top: 230%;
     }

     
.navbar button{
    font-size: 8px;
    margin-left: 5%;
}

}


@media (max-width:380px){

     .navbar{
    gap: 0;

   }

   
   .profile-logout {
    gap: 30px;
    margin-left: 5%;
   }


      
.navbar-right input{
    padding: 5px 8px;
    border: none;
    font-size: 10px;
}

.material-symbols-outlined{
    font-size: 10px;
}

   .navbar-right input{
    padding: 3px 4px;
    border: none;
    width: 60px;
    font-size: 8px;
    margin-left: 5%;
}


.navbar button{
    padding: 3px 6px;
    font-size: 8px;
}

}
@media (max-width:320px){

     .navbar{
    gap: 0;

   }

   
   .profile-logout {
    gap: 30px;
    margin-left: 5%;
   }


      
.navbar-right input{
    padding: 3px 6px;
    border: none;
    font-size: 8px;
}

.material-symbols-outlined{
    font-size: 10px;
}


.navbar button{
    padding: 3px 6px;
    font-size: 8px;
    margin-left: 5%;
}


}
